.movies__list-card {
  width: 100%;
  
}

.movies__list-image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 151px;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies__list-image {
    height: 190px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__list-image {
    height: 168px;
  }
}

.movies__list-container {
  min-height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.movies__list-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 22px;
  border-bottom: 1px solid #E8E8E8;;
}

.movies__list-save {
  align-self: flex-start;
  padding: 0;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/save1.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.movies__list-unsave {
  background-image: url(../../images/save1d.svg);
}

.movies__list-delete {
  background-image:none;
}

.movies__list-card:hover .movies__list-delete {
  background-image: url(../../images/delete-movie.svg);
  
}

.movies__list-save:hover {
  opacity: 0.5;
}



.movies__list-title {
  margin: 10px 0 0 0;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies__list-time {
  color: #A0A0A0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 0 0;
}
