.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    padding: 230px 0 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    width: 260px;
    padding: 65px 0 70px;
  }
}

.profile__title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 123px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__title {
    margin: 0 0 96px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__title {
    margin: 0 0 80px;
  }
}

.profile__logout {
  color: #FF3055;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  margin: 16px 0 0;
}

.profile__logout:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__logout {
    font-size: 12px;
  }
}

.profile__edit-link {
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  margin-top: 206px;
  border: none;
  background-color: #FFF;
}

.profile__edit-link_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.profile__edit-link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__edit-link {
    margin-top: 195px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__edit-link {
    font-size: 12px;
    margin-top: 365px;
  }
}

.profile__span {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__info {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: #FFF;
}

.profile__info:enabled {
  background-color: #f5f5f5;
}

.profile__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

.profile__item:nth-child(3) {
  border-bottom: 0;
  margin-top: 16px;
}

.profile__error {
  display: block;
  min-height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: #EE3465;
  margin: 6px 0 0;
  box-sizing: content-box;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__error-edit {
  min-height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: #EE3465;
  margin: 6px 0 0;
  box-sizing: content-box;
  display: block;
  text-align: center;
  opacity: 0;
}

.profile__error-edit_visible {
  opacity: 1;
}

.profile__error_success {
  display: block;
  min-height: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: #17c800;
  margin: 6px 0 0;
  box-sizing: content-box;
  opacity: 1;
}