.error__code {
  color: #000;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__code {
    font-size: 80px;
    margin: 0 0 10px 0;
  }
}

.error__container {
  display: flex;
  flex-direction: column;
  padding-top: 246px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .error__container {
    padding-top: 410px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__container {
    padding-top: 330px;
  }
}

.error__description {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 184px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__description {
    font-size: 12px;
    margin: 0 0 285px 0;
  }
}

.error__link {
  color: #3456F3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.error__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__link {
    font-size: 12px;
  }
}