.login__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 40px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__title {
    text-align: center;
    margin: 0 0 80px 0;
  }
}

.login__logo-container {
  display: flex;
  justify-content: flex-start;
}

.login__logo {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  margin: 0 0 39px 0;
  background-image: url('../../images/logo.svg')
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__logo {
    align-self: center;
    margin: 0 0 50px 0;
  }
}

.login {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login {
    padding-top: 56px;
    max-width: 260px;
  }
}

.login__submit {
  width: 100%;
  height: 45px;
  flex-shrink: 0;
  border: 0;
  border-radius: 3px;
  background: #3456F3;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 80px 0 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.login__submit:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__submit {
    margin: 168px 0 0;
  }
}

.login__span {
  margin: 16px 0 0;
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__span {
    font-size: 12px;
  }
}

.login__link {
  color: #3456F3;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.login__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__link {
    font-size: 12px;
  }
}

.login__signout {
  color: #FF3055;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form-inputs {
  height: 255px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}